# DATABASE 
DATABASE_ENGINE = django.db.backends.sqlite3
DATABASE_NAME = db.sqlite3
DATABASE_USER = developer
DATABASE_PASSWORD = development
DATABASE_HOST = localhost
DATABASE_PORT = 3306

# APPLICATION 
SITE_NAME = MySite
SECRET_KEY = django-insecure-r5#6f#%e5m@d1wc#&7(pxa_kxdwk!_qmki)f6y=!l37sjo*kv_
SITE_ADDRESS = http://localhost:8000
DEBUG <bool>= True
ALLOWED_HOSTS <list> = *
# Comma separated e.g 127.0.0.1,192.168.128.2
TIME_ZONE = Africa/Nairobi

# E-MAIL
EMAIL_BACKEND = django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 587
EMAIL_USE_TLS <bool> = True
EMAIL_HOST_USER = example@gmail.com
#EMAIL_HOST_PASSWORD = YOURPASSWORD # Your email password or app-specific password
DEFAULT_FROM_EMAIL = example@gmail.com  # Optional: default sender email


# CORS
# https://pypi.org/project/django-cors-headers/

# CORS_ALLOWED_ORIGINS <list> = 
# CORS_ALLOWED_ORIGIN_REGEXES <list> = 
# CORS_ALLOW_ALL_ORIGINS <list> = 

#UTILS
CURRENCY = Ksh
# Ignores some implementation for the sake of functionality demonstration
DEMO = False

FRONTEND_DIR = ../frontend/
# Directory must contain index.html file

# PROJECT
REPOSITORY_LINK = https://github.com/Simatwa/django-fastapi-boilerplate
API_PREFIX = /api
LICENSE = Unspecified